body {
    background-color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
}

h1 {
	color: #0099ff;
    text-align: center;
}

h2 {
    color: #2eb82e;
}

.mainsection {
    margin: auto;
    width: 50%;
    float: left;
    padding-bottom: 50px
}

.sidesection{
    float: right;
    padding-right: 50px
        
}

.btn {
    font-weight: bold;
    background-color: #0099ff;
}
